body {
    background: linear-gradient(to right, rgb(221, 243, 244), rgb(161, 199, 26));
}

h1 {
    text-align: center;
}

.instagram {
    text-align: center;
}

.foto-lingkaran {
    width: 200px;

    height: 200px;

    border-radius: 50%;

    object-fit: cover;

}
h3{
    text-align: center;
    color: rgb(168, 75, 75);
}

h2{
    text-align: center;
    color: rgb(77, 121, 163);
}
.github{
    text-align: center;
}