body {
    background: linear-gradient(to right, rgb(221, 243, 244), rgb(161, 199, 26));
}

h1 {
    text-align: center;
}
.instagram{
    text-align: center;
}

.foto-lingkaran {
  width: 200px;          /* Atur ukuran lebar sesuai keinginan Anda */
  height: 200px;         /* Tinggi harus sama dengan lebar */
  border-radius: 50%;    /* Membuat bentuk lingkaran */
  object-fit: cover;     /* Mencegah foto agar tidak gepeng/penyet */
}


